/*global*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 30px;
}

body {
    height: 100vh;
}


/* home */

header {
    position: fixed;
    width: 100%; 
    background: #ffffff;
    z-index: 100;
    padding: 10px 5%;
}

header img {
    width: 80%;
    margin-left: 25px;
    
}
header ul {
    margin: 20px 0 0;
    text-align: right;
}



header li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-left: 70px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

header ul li a {
    color: gray;
}

header ul li a:hover { color: gray; border-bottom: 3px solid #507271; text-decoration: none;}

.bg-banner {
    padding: 10px 5%;
    height: 95vh;
    overflow: hidden;
}

.slider-banner { width: 100% !important; }
.slider-banner .slick-track, .slider-banner .slick-list { height: 100vh; }
.slider-banner .slick-slide { position: absolute; }

.bg-banner .row { overflow: hidden; }

.bg-banner .images {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.bg-banner img {
    max-width: 100%;
    z-index: 10;
    width: 100%;
}

.bg-banner h1 {
    position: absolute;
    z-index: 100;
    top: 40vh;
    right: 30vh;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #848688;
    font-family: 'Roboto';
    font-weight: 300;
}



.selo {
    position: fixed;
    z-index: 100;
    top: 215px;
    right: 65px;
    width: 200px;
}

footer {
    z-index: 100;
    position: absolute;
    padding: 10px calc(5% + 60px);
    bottom: 30px;
    left: 0;
    width: 100%;
}

form {
    z-index: 100;
    width: 300px;
}
form input { width: 100%; }
form .input-block { width: 100%; }

input {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    background: rgba(255, 255, 255, .4);
}

.box-whats {
    background: rgba(255, 255, 255, .4);
    padding: 18px 10px;
}

.text-black {
    color: #000;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;

}

.box-whats svg {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;
}



.box-insta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.box-insta img {
    width: 800px;
    height: 800px;
    position: relative;
}

.siga-nos {
    margin-left: 30px;
}

.siga-nos svg {
    width: 40px;
}

.siga-nos svg g {
    fill: #fff;
}

/* Empresa */

.bg-empresa {
    padding: 150px 5%;
}

.bg-empresa img.img-city {
    width: 100%;
}

.bg-empresa .text-service {
    padding: 80px;
    margin-top: 70px;
}

.bg-empresa p {
    font-size: 15px;
}

.bg-empresa p.down {
    line-height: 22px;
    margin-top: -20px;
}

.box-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    border: 1px solid #507271;
    margin-bottom: 30px;
}
.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    height: 6px;
}

.box-icon:nth-child(2) {
    margin-left: 80px;
}

.box-icon:nth-child(3) {
    margin-left: 130px;
}

.box-icon:last-child {
    margin-left: 180px;
}

.box-icon p {
    font-size: 20px;
    color: #507271;
    display: block;
    align-items: center;
    padding-top: 28px;
    line-height: 15px;
}

.box-icon span {
    color: #373435;
    font-size: 11px;
    align-items: center;
}

.icon-img img {
    width: 70px;
}

/* serviços */

.bg-serviços {
    padding: 150px 5%;
}

.box-green {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box {
    background:#507271;
    padding: 25px;
    margin: 0 7px;
}

.box p {
    font-size: 14px;
    align-items: initial;
    color: #fff;
}

.box h4 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.box-img {
    text-align: center;
}

.box-img img {
    width: 60%;
    margin-top: -25px;
}

h2 {
    color:#507271;
    font-size: 33px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

.title {
    margin-bottom: 55px;
    margin-left: 25px;
}

.title p {
    font-size: 14px;
    color: gray;
}


/*clientes*/

.bg-clientes {
    padding: 150px 5%;
}

.left-banner {
    width: 415px;
}

.left-banner img {
    width: 445px;
}

.bg-green {
    border: 1px solid #fff;
    background: #507271;
    padding: 15px 30px;
    font-size: 21px;
    color: #fff;
    width: 350px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 200;
    margin-bottom: 50px;
}


h3 {
    align-items: center;
}

.logo-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    flex-wrap: wrap;
}

.logo-first div {
    width: 25%;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-first img {
    margin: 0 10px;
    max-height: 60%;
    max-width: 80%;
}

.box-clientes {
    border: 1px solid #507271 ;
}

h3 {
    border-bottom: 1px solid #507271 ;
    padding: 25px;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
}

/*Portifólio*/

.bg-portifolio {
    padding: 150px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #507271;
}

.img-button {
    padding: 10px 0;
    border: 1px solid transparent;
    background: #507271;
    margin-left: 5px;
    height: 100px;
    text-align: center;
    width: 200px;
}

.img-button img {
    width: 50px;
    
}

.img-button p {
    font-size: 10px;
    color: #fff;
}
.box-info {
    margin-top: 75px;
}

.box-info .box-icon-portifolio {
    display: flex;
    align-items: center;
    width: 230px;
    border: 1px solid #507271;
    margin-bottom: 30px;
    height: 60px;
}

.box-info .icon-text-portifolio p {
    font-size: 20px;
    color: #507271;
    display: block;
    align-items: center;
    padding-top: 28px;
    line-height: 15px;
    padding-left: 30px;
}

.box-info .box-icon-portifolio span {
    color: #373435;
    font-size: 11px;
    align-items: center;
    font-weight: 400;
    color: 373435;
}

.box-info .icon-img-portifolio img{
    width: 55px;
}

.grid-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    padding: 50px 0;
    margin-left: 15px;
    gap: 15px;
}

.box-grid {
    padding: 10px 0;
}

.grid-img .box-grid img {
    width: 100%;
}

.categories { 
    border-bottom: 1px solid rgba(0,0,0,.3); 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-categorie {
    width: 140px;
    height: 140px;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all .3s ease-in-out;
    margin-left: 5px;
}
    .box-categorie:hover { background: #507271; }
    .box-categorie a { text-align: center; }
    .box-categorie a:hover { text-decoration: none; }
    .box-categorie img { max-width: 90%; margin-bottom: 10px; }
    .box-categorie span {
        font-size: 11px;
        color: #fff;
        text-align: center;
        display: block;
        line-height: 13px;
    }

/*Responsivo*/

@media (max-width: 1300px) {

    /*header*/

    header {
        padding: 10px;
    }

    header ul {
        margin: 20px 0 20px;
        display: none;
    }

    header ul li {
        margin-left: 0;
        display: flex;
    }

    /*home*/

    .bg-banner h1 {
        letter-spacing: 5px;
        position: absolute;
        right: 0;
        top: 100px;
        font-size: 26px;
        display: block;
        color: #fff;
        text-align: center;
        width: 100%;
    }

    .selo {
        right: 0px;
        width: 120px;
    }

    .input-block {
        text-align: center;
    }

    .bg-banner img {
        max-width: inherit;
        z-index: 10;
        min-height: 100%;
        width: auto;
    }

    .box-insta {
        display: none;
    }


    /*empresa*/

    .bg-empresa img.img-city {
        margin: 100px 0 0 0;
    }

    .bg-empresa {
        padding: 10px;
    }

    .bg-empresa .text-service {
        padding: 50px 0;
        margin-top: 0;
    }

    .box-icon:nth-child(2) {
        margin-left: 0;
    }

    .box-icon:nth-child(3) {
        margin-left: 27px;
    }

    .box-icon:last-child {
        margin-left: 54px;
    }

    /*servicos*/

    .bg-serviços {
        padding: 100px 10px;
    }

    .title {
        margin-left: 7px;
    }
    
    .box-green {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box {
        padding: 25px;
        margin-bottom: 15px;
    }

    .title p {
        padding: 15px;
    }

    h2 {
        padding: 15px 15px 0;
        font-size: 20px;
    }

    /*clientes*/

    .bg-clientes {
        padding: 10px;
    }

    .left-banner img {
        max-width: 100%;
    }

    .bg-green {
        margin-top: 30px;
        padding: 15px 20px;
        width: 325px;
    }

    .logo-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .logo-first img {
        max-width: 100%;
        margin: 20px;
    }

    .logo-first div{
            width: 75%;
    }

    /*portifolio*/

    .bg-portifolio {
        padding: 150px 10px;
    }

    .bg-portifolio .div-button {
        padding: 160px 0;
    }

    .grid-img {
        grid-template-columns: 1fr;
    }

    .box-categorie {
        width: 16.6%;
        height: 50px;
    }

    .box-categorie span {
        display: none;
    }

    .box-categorie img {
        margin-bottom: 0;
    }

    .box-info .box-icon-portifolio {
        width: 100%;
    }

    /*footer*/

    footer {
        padding: 10px calc(5% + 15px);
    }

    .text-black:hover {color: #000; text-decoration: none;}

    .box-whats {
        padding: 0;
    }

}